@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    font-family: Arial, Helvetica, sans-serif;
}

/* .topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 35px;
    background-color: rgb(228, 228, 228);
    border-bottom: 1px solid rgb(207, 207, 207);
    z-index: 100;
} */

/* .topbar p {
    float: left;
    font-size: 14px;
    padding: 10px;
    margin: 0;
    display: block;
} */

/* .topbar p:hover {
    background-color: rgb(207, 207, 207);
    cursor: pointer;
} */

/* .topbar img {
    width: 20px;
    height: 20px;
    padding: 7.5px;
}

.topbar img:hover {
    background-color: rgb(207, 207, 207);
    cursor: pointer;
}

.topbar input {
    position: relative;
    display: block;
    top: 0;
    outline: none;
    margin: auto;
    float: right;
    margin-top: 7.5px;
    margin-right: 50px;
} */

svg {
    position: fixed;
    border-radius: 5px;
    left: 0;
    cursor: crosshair;
    background-color: #333333;
}

/* svg line {
    margin: 10px;
    padding: 10px;
    
} */

/* .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    height: 1000px;
    background-color: rgb(228, 228, 228);
    margin-top: 35px;
    border-right: 1px solid rgb(207, 207, 207);
} */

.sidebar button {
    width: 25px;
    height: 25px;
    background-color: rgb(238, 238, 238);
    border-radius: 5px;
    border-color: rgb(197, 197, 197);
    float: left;
    margin: 10px;
}

.sidebar button:hover {
    background-color: rgb(207, 207, 207);
    cursor: pointer;
}

.mouseBox {
    height: auto;
    width: auto;
    overflow: hidden;
    background-color:white;
    position:absolute;
    display: block;
    border-style: solid;
    border-color: rgb(201, 201, 201);
    border-width: 1px;
    border-radius: 5px;

    padding: 5px;
}

.contextMenu {
    position: absolute;
    width: 200px;
    height: auto;
    background-color: rgb(245, 245, 245);
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(212, 212, 212);

}

.contextMenu p {
    padding: 10px;
    margin: 0;
    font-size: 12px;
}

.contextMenu p:hover {
    background-color: rgb(235, 235, 235);
    cursor: default;
    
}

.contextMenu hr {
    border-top: 1px solid rgb(212, 212, 212);
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    margin: 0;
}

.distance {
    padding-left: 500px;
    padding-top: 550px;
}

input {
    margin-left: 50px;
}